@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jost:ital,wght@0,100..900;1,100..900&family=LINE+Seed+JP:wght@100;400;700;800&display=swap');

* {
    font-family: 'LINE Seed JP' 'Jost' sans-serif;
    font-weight: 400;
    font-style: normal;
}